# FIXME: This is a temporary workaround to hoist Radix UI packages to the root of the monorepo, which is necessary for the `@tsu-stack/ui` package to work correctly.
# This should be removed once we have a better solution for handling dependencies in our monorepo.
# If we remove this, we'll get the following on build: `Error: [vite+]: Rolldown failed to resolve import "@radix-ui/react-avatar" from "virtual:vite-rsc/client-references/group/facade:src/router.tsx".`
public-hoist-pattern[]=@radix-ui/*